# Ignore everything.
*

# Not directories.
!*/

# Except...
submodules/

# Not our output.
!docs/*
!docs/*/*
!docs/*/*/*

# Not these project files.
!Doxyfile
!*.md

# Not these repo files.
!.gitignore
!.gitmodules

# Not these submodules
!ref/master
