# Ignore everything.
*

# Not directories.
!*/

# Except...
bin/
obj/
ref/

# Not these source files.
!*.c
!*.h
!*.sh

# Not these project files.
!compy.creator
!compy.includes
!compy.files
!Makefile
!Makefile.*

# Not these repo files.
!.gitignore
!*.md

# Not these test files.
!*.vec

# Not these submodules
!submodules/make-c-template
