# Ignore everything.
*

# Not directories.
!*/

# Except...
bin/
obj/

# Not these source files.
!*.c
!*.h
!*.sh

# Not these project files.
!CMakeLists.txt

# Not these repo files.
!.gitignore
!*.md

# Not these test files.
!*.vec

# Not these submodules
!submodules/make-c-template
